.container.position-relative.text-center.text-lg-start.aos-init.aos-animate {
    background: rgba(0, 0, 0, 0.85);
    backdrop-filter: var(--blur-intensity);
    padding-bottom: 80px;
    padding-right: 35px;
    padding-left: 35px;
}